body {
    color: white;
}

#hero {
    background: url('/assets/bg.jpeg') center center no-repeat;
}

.navbar {
    width: 100%;
    background: none !important;
    @media(max-width: 34em) {
        background: black !important;
    }
    .navbar-toggler {
        cursor: pointer;
        outline: 0;
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: bold;
    }
    .nav-item {
        padding: 0 1rem;
        @media(max-width: 34em) {
            padding: 0;
        }
        .nav-link {
            @media(max-width: 34em) {
                font-weight: normal;
                color: white !important;
            }
        }
    }
}

h1 {
    font-weight: bold;
    font-size: 3.5em;
}

.hero-img {
    max-width: 100%;
    height: auto;
     opacity: 0.9;
    filter: alpha(opacity=90);
}

.feature-wrapper{
    color: black;
}

#join-container{
    max-height: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: url('/assets/screen1.jpeg') no-repeat;

    h2{
        letter-spacing: 4px;
        font-weight: bold;
    }
    h4{
        color: grey;
    }
    .form-control{
        background: #111111;
        border: 3px solid #2f2f2f;
        padding: 10px;
    }
    .btn{
        padding: 12px;
        border: none;
        color: black;
        cursor: pointer;
    }

}